* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 2rem;
}

.wines-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 18rem));
  justify-content: center;
  gap: 2rem;

}

.card {
  overflow: hidden;
  box-shadow:0 2px 20px rgb(216, 210, 210);
  border-radius: 0,9rem;
  display: flex;
  flex-direction:  column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform .2s;
}

.card_img {
  height: 12rem;
  width: 100%;
  object-fit: cover;
}


.card:hover{
  transform: scale(1.08);
}